* {
  box-sizing: border-box;
}
body {
  font-family: 'Montserrat', sans-serif;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1158px;
  padding: 15px;
  margin: 0 auto;
}

.form {
  max-width: 360px;
}
.delay-label {
  margin-bottom: 16px;
  display: flex;
  gap: 8px;
  flex-direction: column;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
.input {
  width: 100%;
  min-height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 0 16px;
  outline: none;

  transition: border-color 0.3s;

  &:hover {
    border-color: #000;
  }

  &:active {
    border-color: #4e75ff;
  }
}
.state-box {
  margin-bottom: 24px;
  width: 100%;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 24px 0 8px;
  display: flex;
  justify-content: space-evenly;

  transition: border-color 0.3s;

  &:hover {
    border-color: #000;
  }
}
.state-title {
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-left: 28px;
}

.state-label {
  line-height: 1.5;
  color: #2e2f42;
  display: flex;
  gap: 8px;
  align-items: center;
}
.radio {
  width: 20px;
  height: 20px;
}
.button {
  width: 100%;
  min-height: 40px;
  border-radius: 8px;
  background-color: #4e75ff;
  border: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  transition: background-color 0.3s;

  &:hover {
    background-color: #6c8cff;
  }
}
